venv/
__pycache__/
*.pyc
*.db
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.env
instance/
app/static/uploads/libros/*
app/static/uploads/perfiles/*
!app/static/uploads/libros/.gitkeep
!app/static/uploads/perfiles/.gitkeep
